h1 h2 {
    font-family: $mainfont;
    font-weight: 600px;
    font-size: 28px;
}

p {
    font-family: $mainfont;
    font-weight: 300px;
    font-size: 14px;
}

body {
    background-image: url(../img/background/background.png);
    
    }

.text-center {
    text-align: center
}
.contenedor {
    width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
}
img {
    max-width: 100%;
    height: auto;
}
.btn-secondary {
    background-color: $botoncolor;
}
.slide {
    margin-top: 60px;
    margin-bottom: 60px;
    height: 80%;
    width: 100%;
}

.slide p {
    color: $secondaryColor;
    background-color: gray;

}

.slide h2 {
    color: rgb(95, 95, 82);
}
.card-boxes{
    background-color: $backcolor;
}
form {
    padding: 70px 75px 115px 75px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    text-align: center;
    width: 340px;
    background-color: $backcolor;
}