nav{
    background-color: $maincolor;
    padding: 15px 35px;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}

nav,ul {
    list-style: none;
    display: flex;
}

nav,ul,li {
    display:
    
    margin-right 0px;
}

nav,ul,li,a {
    color: $secondaryColor;
    text-decoration: none;
    font-family: $mainfont;
    font-weight: 600px;
    font-size: 16px;

}